# This file is used to show the secret keys and other environment variables
# that are used in the project. It is a template file that should be copied
# to a new file called .env.local in this directory. The real environment
# file should not be committed to version control, as it may contain
# sensitive information.

VITE_API_BASE_URL=http://localhost:5000

# Public and administrator origins used for cross-application links.
VITE_PUBLIC_APP_ORIGIN=http://localhost:5173
