# This file is used to show the secret keys and other environment variables
# that are used in the project. It is a template file that should be copied
# to a new file called .env in this directory. The .env file should not be
# committed to version control, as it may contain sensitive information.

PORT=5000
HOST=0.0.0.0
TMDB_READ_ACCESS_TOKEN=replace_with_your_tmdb_read_access_token

MONGODB_URI=replace_with_your_mongodb_connection_string
MONGODB_DB_NAME=replace_with_your_mongodb_database_name
MONGODB_CONTENT_LINKS_COLLECTION=replace_with_your_mongodb_collection_name